body {
    background-color: #1e293b;
}

.content {
    min-width: 1728px;
    min-height: 927px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: 16px;
}

h1 {
    font-weight: 600;
    font-size: 32px;
    margin-bottom: 8px;
    min-width: 768px;
    color: #f8fafc;
}

.tag-list {
    position: relative;
    display: flex;
    overflow: hidden;
    flex-direction: column;
    gap: 16px 0;
    width: 480px;
    max-width:  1555px;
    padding: 24px 0;
    align-items: center;

    width: 30rem;
    max-width: 90vw;
}

.tag {
    display: flex;
    align-items: center;
    color: #e2e8f0;
    font-size: 15px;
    margin-right: 16px;
    border-radius: 6px;
    background-color: #334155;
    padding: 12px 16px;
    gap: 0 5px;
}

span {
    font-size: 19px;
    color: #64748b;
}

.fade {
    pointer-events: none;
    background: linear-gradient(90deg, #1e293b, transparent 30%, transparent 70%, #1e293b);
    position: absolute;
    inset: 0;
  }

.inner {
    display: flex;
    width: fit-content;
    animation-name: loop;
    animation-duration: 20s;
    animation-direction: normal;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

.inner-reverse {
    display: flex;
    width: fit-content;
    animation-name: loop;
    animation-duration: 20s;
    animation-direction: reverse;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}


@keyframes loop {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(-50%);
    }
  }